@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply text-text opacity-50 text-lg font-medium hover:opacity-100 duration-300;
    }
    .my-container {
        @apply p-4 sm:px-10 md:px-16 lg:px-20 xl:px-24 2xl:px-32;
    }
    .section-title {
        @apply font-bold text-[48px] sm:text-3xl text-text leading-tight md:leading-[60px];
    }
    .skill-card {
        @apply flex flex-col justify-center items-center bg-transparent text-text hover:bg-primary hover:text-white p-4 duration-300 h-[400px] text-center;
    }
    .but-active {
        @apply;
    }
    .collapse-title {
        @apply text-xl lg:text-xl font-semibold;
    }

    .collapse-content {
        @apply text-[18px] leading-[27px] font-normal;
    }
    .my-badge {
        @apply text-[14px] sm:text-base font-semibold text-white p-[10px] bg-primary rounded-none;
    }
    .devider-horizon {
        @apply w-[100px] h-[1px] bg-primary/40;
    }
    .icon-hero {
        @apply border text-lg text-primary border-primary p-3 rounded-full hover:bg-primary bg-transparent hover:text-white duration-200;
    }
    .icon-foot {
        @apply border text-lg text-white border-white p-3 rounded-full hover:bg-white bg-primary hover:text-primary duration-200;
    }
    .my-button-primary{
        @apply px-4 py-3 border bg-primary text-white text-base hover:scale-105 duration-300;
    }
}

body {
    overflow-x: hidden;
    font-family: "Figtree", sans-serif;
}

html {
    scroll-behavior: smooth;
}
